
<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

<!-- section start -->
<!-- ================ -->
  <%= render 'static_pages/booking' %>
<!-- section end -->

<!-- section start -->
<%= render 'static_pages/parallax' %>
<!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <%= render 'static_pages/transfer_types' %>
  <!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <%= render 'static_pages/why' %>
  <!-- section end -->

<!-- section start -->
<!-- ================ -->
<%= render 'reviews/index' %>
<!-- section end -->

</div>
<!-- page-wrapper end -->