<div class="container" style="width: 99%;">
  <div class="row">

    <!-- main start -->
    <!-- ================ -->
    <div class="main col-md-12">

      <!-- page-title start -->
      <!-- ================ -->
      <h1 class="page-title" id="moto_types" name="moto_types"><%= t ('menu.moto_types') %></h1>
      <div class="separator-2"></div>
      <!-- page-title end -->

      <div class="row grid-space-20">
        <div class="col-md-3 col-sm-6">
          <div class="box-style-1 gray-bg team-member">
            <div class="overlay-container">
              <%= link_to image_tag("/assets/hd_bike.jpg", alt: "Help"), help_path %>
            </div>
            <h3>Harley davidson custom v rod</h3>
            1000$/day
            <div style="border-top: 1px solid lightgrey; margin-top: 10px;">
              <%= link_to (I18n.t 'booking.book_now'), help_path, class: "btn btn-success btn-sm" %>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box-style-1 gray-bg team-member">
            <div class="overlay-container">
              <%= link_to image_tag("/assets/hd_bike.jpg", alt: "Help"), help_path %>
            </div>
            <h3>Yamaha Fino</h3>
            50$/day
            <div style="border-top: 1px solid lightgrey; margin-top: 10px;">
              <%= link_to (I18n.t 'booking.book_now'), help_path, class: "btn btn-success btn-sm" %>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box-style-1 gray-bg team-member">
            <div class="overlay-container">
              <%= link_to image_tag("/assets/hd_bike.jpg", alt: "Help"), help_path %>
            </div>
            <h3>Honda</h3>
            50$/day
            <div style="border-top: 1px solid lightgrey; margin-top: 10px;">
              <%= link_to (I18n.t 'booking.book_now'), help_path, class: "btn btn-success btn-sm" %>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="box-style-1 gray-bg team-member">
            <div class="overlay-container">
              <%= link_to image_tag("/assets/hd_bike.jpg", alt: "Help"), help_path %>
            </div>
            <h3>Margaret Manson</h3>
            50$/day
            <div style="border-top: 1px solid lightgrey; margin-top: 10px;">
              <%= link_to (I18n.t 'booking.book_now'), help_path, class: "btn btn-success btn-sm" %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- main end -->

  </div>
</div>