<h1 align="center"><%= (t 'list.blog') %> <span class="badge"><%= @blogs.count %></span></h1>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Role</th>
    <th>Language</th>
    <th>Created at</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <div align="center">
    <%= will_paginate %>
  </div>
  <tbody>
  <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.role %></td>
        <td><%= blog.language %></td>
        <td><%= blog.created_at %></td>
        <td><%= link_to (I18n.t 'button.show'), blog, class: "btn btn-sm btn-primary" %></td>
        <td><%= link_to (I18n.t 'button.edit'), edit_blog_path(blog), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to (I18n.t 'button.delete'), blog, method: :delete, data: {confirm: (t 'operations_confirmation.confirm')}, class: "btn btn-sm btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div align="center">
  <%= will_paginate %>
</div>
<br>

<%= link_to 'New Blog', new_blog_path, class: "btn btn-sm btn-primary" %>
