<li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/adress-book3-black@2x.png') +' '+ (I18n.t 'booking.new'), new_booking_path %></li>
<li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/calendar-black@2x.png') +' '+ (I18n.t 'booking.bookings'), bookings_path %></li>
<li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/earth-black@2x.png') +' '+ (I18n.t 'menu.countries_list'), countries_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/user-black@2x.png') +' '+  (I18n.t 'menu.users'), users_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/notepad2-black@2x.png') +' '+  (I18n.t 'blog.blogs'), blogs_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/like-black@2x.png') +' '+  (I18n.t 'review.reviews'), reviews_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/car-black@2x.png') +' '+  (I18n.t 'vehicletypes.vehicletypes'), vehicletypes_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/airplane-black@2x.png') +' '+  (I18n.t 'airports.airports'), airports_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/adress-book2-black@2x.png') +' '+  (I18n.t 'suppliers.suppliers'), suppliers_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/compass-black@2x.png') +' '+  (I18n.t 'destinations.destinations'), destinations_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/cash-black@2x.png') +' '+  (I18n.t 'destination_fares.destination_fares'), destination_fares_path %></li>
      <li class="menu_border"><%= link_to image_tag('/assets/theme/menu_icons_pack/calculator-black@2x.png') +' '+ (I18n.t 'orders.orders'), orders_path %></li>
