<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= (t 'notice.error') %> <%= pluralize(@order.errors.count, "error") %>:</h2>

          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= f.label (t 'summ_string') %>*<br>
        <%= f.number_field :amount %>
        <%= f.label (t 'prefix.currency_label') %>*<br>
        <%= f.select :currency, options_for_select([[@currency, @currency]], selected: :option) %>
        <%= f.hidden_field :delivery_company_id, :value => @user_company.id %>
        <%= f.hidden_field :description, :value => "+" %>

        <p align="center">

        <div class="actions">
          <div class="col-md-6"><%= f.submit (t 'button.ok'), class: "btn btn-sm btn-primary" %></div>
          <div class="col-md-6"><%= f.submit (t 'button.cancel'), :type => "reset", class: "btn btn-sm btn-danger" %></div>
          <!--<%= f.submit (t 'button.ok'), class: "btn btn-sm btn-primary" %>
          <%= f.submit (t 'button.cancel'), :type => "reset", class: "btn btn-sm btn-danger" %>-->
        </div>
        </p>
      </div>
    </div>
<% end %>
